*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #212F3D;
}

i,svg {
    pointer-events: none;
}

.kick-pad, 
.snare-pad, 
.hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: #934848;
}
.kick-pad.active {
    background: #9C0000;
}

.snare-pad {
    background: #9e6f41;
}
.snare-pad.active {
    background: #9c4e00;
}

.hihat-pad {
    background: #93935f;
}
.hihat-pad.active {
    background: #9c9c00;
}

.sequencer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hihat-track, 
.kick-track, 
.snare-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 5rem;
} 

.kick, 
.hihat, 
.snare {
    display: flex;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}
.controls button {
    padding: 1rem;
    border: none;
    background: rgb(78, 78, 78);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.controls h1 {
    color: white;
}

.pad{
    transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(219, 248, 245);
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    border-radius: 10px;
}

select{
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
}

.mute{
    border-radius: 10px;
}
.mute.active {
    background: gray;
}

.tempo{
    margin: 3rem;
    width: 30%;
}
.tempo p{
    margin: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}
.tempo-slider{
    padding: 0.3rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background: rgb(219, 248, 245);
    cursor: pointer;
    border-radius: 1rem;
}


@keyframes playTrack{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}